.password-field {
  margin-bottom: 15px;
  label {
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    .forgot-password {
      a {
        color: #ffffff;
        text-decoration: none;
        font-family: "Inter";
        font-size: 12px;
        font-weight: 500;
        line-height: 14.52px;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }

  .password-input-eye {
    display: flex;
    align-items: center;
    background: #27292d;
    border-radius: 4px;
    border: 1.5px solid #35373b;
    padding-right: 8px;
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 4px;
      background: #27292d;
      color: #7f8084;
      font-size: 14px;
    }

    input:focus {
      outline: none;
    }

    .show-password {
      display: flex;
      align-items: center;
      color: #7f8084;
      cursor: pointer;
    }
  }
}
